<!-- 1) lo primero que hacemos es importar en En le file app.modules.ts Formsmodule, para gestionar nuestros formularios -->
<!-- 2) Lo segundo es descargar bootstrap, Recardar que se puede hacer con el link o utilizando el comando npm i bootstrap -->
<!-- 3) una vez instalada vamos a al file angular.json buscamos el objeto style y dentro copiamos la ruta de donde fue instalado bootstap ./node_modules/boostrap/dist/css/bootstrap.min.css-->
<!-- 4) Colocamos los estilos de fondo en el file styles.css principal utilizando la pagina https://uigradients.com/#DigitalWater -->
<!-- 5) Creamos unos estilos personalizados en app.component.css crando una clase app con el finde poner un fondo branco a nuestro container principal -->


<div class="container mt-4 app"> <!--Contenedor principal-->

  <div class="row"> <!-- Fila para el titulo y la notificacion de CRUD-->

    <div class="col-sm-8"> <!--Columna que contiene el titulo-->

    <h1 class="text-center">{{title}}</h1> <!--Titulo con una clase de bootstrap para centrar el texto-->

    </div>

    <div class="col-sm-4"> <!--Columna que contiene el una alerta que se muestra al momento de ejecutar una accion-->

        <div class="alert alert-success alert-dismissable"  *ngIf = "mensajeAlerta">

          <a href="#" class="close" (click) = "cerrarAlerta()">&times;</a> <!-- Etiqueta que permite mostrar un enlace con una X para cerrar la notificacion -->
              
              {{mensajeAlerta}} <!--Mensaje que cambia segun la opcion que de hace el el crud-->

        </div>
    </div>

  </div>
  
  <div class="row"> <!-- Fila que se encarga de contener la imagen y el formulario de insercion -->
      
      <div class="col-sm-8  medidas"> <!-- Columna que se encarga de contener el formulario de insercion y un titulo h2 -->

          <h2>Crear Persona: </h2>

          <form  class="form-horizontal"> <!--Formulario de insercion -->

            <div class="form-group">	 <!-- Caja que contiene el label y la caja de texto del nombre-->

              <label for="name" class="col-sm-2 control-label"> <!-- Columna que tiene el label Nombre: -->

                 <strong>Nombre: </strong> 

              </label>

              <div class="col-sm-10"> <!--Columna que tiene 10 espacios contiene la caja de texto -->

                <input type="text" class="form-control" id="name" placeholder="Introdusca su nombre" name="name"
                        [(ngModel)]  = "modelo.nombre">

              </div>

            </div>

            <div class="form-group">

              <label for="cargo" class="control-label col-sm-2">

                <strong>Cargo: </strong>

              </label>

              <div class="col-sm-10">

                <input type="text" class="form-control" id="cargo" name="cargo" placeholder="Introdusca un cargo"
                        [(ngModel)] = "modelo.cargo" >

              </div>
              
            </div>

            <div class="form-group">

                <label for="email" class="control-label col-sm-2" >

                  <strong>Email: </strong>

                </label>

              <div class="col-sm-10">
                  <input type="text" class="form-control" id="email" name="email" placeholder="Introdusca un email"
                          [(ngModel)] = "modelo.email">                
              </div>

            </div>

            <div class="form-group">

              <div class="col-sm-10 col-sm-offset-2">

                <button type="submit" class="btn btn-success" (click) = "addpersona()">Guardar</button>

              </div>

            </div>

          </form>

      </div>

      <div class="col-sm-4"> <!--Columna que se encarga de contener la imagen -->
        <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="/>
      </div>

  </div>

  <div class="row"> <!-- Fila que se encarga de contener una tabla de datos  y formulario de actualizacion -->

    <div class="col-sm-8 medidas">

      <h2>Lista de datos: </h2>

      <table class="table table-bordered"> <!-- Creacion de una tabla de contenido con sus td y tr-->

        <thead> <!-- Cabecera de la tabla -->

          <tr> <!-- Filas de la tabla -->
            
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Email</th>
            <th>Acciones</th>

          </tr>

        </thead>

        <tbody>

          <tr *ngFor = "let mipersona of personas; let i = index">

            <th>{{mipersona.nombre}}</th>
            <th>{{mipersona.cargo}}</th>
            <th>{{mipersona.email}}</th>

            <th>

              <button class="btn btn-success" (click)= "editarPersona(i)">Editar</button>
              <button class="btn btn-danger m-2" (click) = "eliminarPersona(i)">Eliminar</button>

            </th>

          </tr>

        </tbody>

      </table>
    </div>

    <div class="col-sm-4" [hidden] = "mostarformEditar"> <!-- Columna con el formulario de actualizar -->

      <h2>Actualizar datos:</h2>

      <form  class="form-horizontal">
          
        <div class="form-group">

          <label for="name" class="control-label col-sm-2">

            <strong>Nombre:</strong>

          </label>

          <div class="col-sm-10">

            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" [(ngModel)] ="modelo2.nombre">
          </div>
          
        </div>
        
        <div class="form-group">

          <label for="cargo" class="control-label col-sm-2">

            <strong>Cargo:</strong>
          </label>

          <div class="col-sm-10">

            <input type="text" class="form-control" name="cargo" id="cargo" placeholder="Cargo" [(ngModel)] ="modelo2.cargo">

          </div>

        </div>

        <div class="form-group">

          <label for="email" class="control-label col-sm-2">
  
            <strong>Email:</strong>

          </label>

          <div class="col-sm-10">
              <input type="text" class="form-control" name="email" id="email" placeholder="Email" [(ngModel)] ="modelo2.email">
          </div>

        </div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2"></div>
          
          <button type="submit" class="btn btn-success" (click) = "adtualizarPersona()">Actualizar</button>

        </div>

      </form>

    </div>


  </div>
    
</div>


